@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.canvas-wrapper {
    margin: auto;
    position: relative;
    padding: 0;
    border: 1px solid black;
    border-radius: 2px;
    z-index: 0;
}

.settings-panel {
    position: fixed;
    right: 0;
    z-index: 2;
}
.settings-panel h3 {
    font-size: 34px;
    margin: 0;
    margin-bottom: 0.5em;
    text-align: center;
}
.settings-panel h2 {
    font-size: 25px;
    text-align: center;
}
.settings-panel-open {
    width: max-content;
    height: max-content;
    padding: 2.5em 5em;
    background-color: gray;
    opacity: 0.8;
    border-radius: 5px;
    border: 2px solid white;
}
.settings-panel-close {
    width: 6%;
    height: 100%;
    background-color: black;
    border-radius: 0;
}
#expand-icon {
    width: 60%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200%;
}
#expand-icon img {
    width: 100%;
    height: 100%;
}
.setting {
    font-size: 20px;
    padding: 5px;
}
.setting input {
    margin-left: 30px;
    margin-top: 5px;
    float: right;
}

#color-picker {
    width: max-content;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

canvas {
    background-color: rgb(221, 215, 215);
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

.watermark {
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    text-align: right;
    position: absolute;
    float: right;
    width: 220px;
    margin-left: auto;
    top: 10px;
    right: 20px;
}